div
    .hz-dragtobox(data-hz-resource="HzDragtobox")
        .hz-dragtobox__origin
        .hz-dragtobox__box
            h1 Name box 1
            span.hz-dragtobox__element Box 1
            span.hz-dragtobox__element Box 1
        .hz-dragtobox__box
            h1 Name box 2
            span.hz-dragtobox__element Box 2
            span.hz-dragtobox__element Box 2
    .hz-dragtobox(data-hz-resource="HzDragtobox")
        .hz-dragtobox__origin
        .hz-dragtobox__box
            h1 Name box 1
            span.hz-dragtobox__element Box 1
            span.hz-dragtobox__element Box 1
        .hz-dragtobox__box
            h1 Name box 2
            span.hz-dragtobox__element Box 2
            span.hz-dragtobox__element Box 2