div
    .hz-dragtobox(data-hz-resource="HzDragtobox")
        .hz-dragtobox__box(data-hz-dragtobox__box--title='Name box 1', data-hz-dragtobox__box--image='img/box1.png')
            h1 Name box 1
            span.hz_dragtobox__element Box 1
            span.hz_dragtobox__element Box 1
        .hz-dragtobox__box(data-hz-dragtobox__box--title='Name box 2', data-hz-dragtobox__box--image='img/box2.png')
            h1 Name box 2
            span.hz_dragtobox__element Box 2
            span.hz_dragtobox__element Box 2